body {
	background: #eee;
	font-family: sans-serif;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.controls {
	margin-top: 8px;
}

.controls label {
	width: 200px;
	display: inline-block;
	margin-top: 8px;
	vertical-align: top;
}

.controls label input {
	width: 128px;
	display: block;
	margin-top: 8px;
}
